body{
    display: flex;
    justify-content: center;
}




.container{
    width:25rem;
    min-height:48.5rem;
    height:auto;
    background-color: #22577E;
    text-align: center;
    justify-self: center;
    border-radius: 0.4rem;
    
}
.heading{
    font-size: 2.5rem;
    font-family: 'Hind', sans-serif;
    color: blanchedalmond;
}

div input{
    width:19rem;
    padding: 0.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    border: 0.2rem solid white;
    border-radius: 0.3rem;

    
}

.submitbtn{
    margin: 0.5rem;
    width:6rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    background-color: #95D1CC;
    border:0.9 rem solid white;
    border-radius: 0.3rem;

}



.line-item{
    display:inline-flex;
    background-color:#F6F2D4 ;
    width:22rem;
    font-size: 1.2rem;
    padding:0.2rem;
    align-items: center;
    margin:0.7rem auto;
    
}

.item{
    word-wrap:break-word;
    flex-grow: 1;
    flex-basis: content;
}

.edit{
    background-color: #95D1CC;
    font-family: 'Roboto', sans-serif;
    flex-basis: content;
    flex-grow: 0;

}


